<div style="height: 40px;">
  <span *ngIf="showService">
    <app-service-observable-leak></app-service-observable-leak>
  </span>
  <span *ngIf="showFinite">
    <app-finite-observable></app-finite-observable>
  </span>
  <span *ngIf="showFromEvent">
    <app-from-event-observable></app-from-event-observable>
  </span>
  <span *ngIf="showLargeLeak">
    <app-large-leak></app-large-leak>
  </span>
</div>
<hr style="margin: 10;">

<button #toggle type="button" (click)="showService = !showService">Create/Destroy Service Component</button>
<button #toggleTwo type="button" (click)="showFinite = !showFinite">Create/Destroy Finite</button>
<button #toggleThree type="button" (click)="showFromEvent = !showFromEvent">Create/Destroy fromEvent</button>
<button #toggleFour type="button" (click)="showLargeLeak = !showLargeLeak">Create/Destroy largeLeak</button>